#include <windows.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,1,0,0
 PRODUCTVERSION 0,1,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Open Source Contributors\0"
            VALUE "FileDescription", "Oculus Rift DK2 360 VR Video Player\0"
            VALUE "FileVersion", "0.1.0\0"
            VALUE "InternalName", "DK2VRPlayer\0"
            VALUE "LegalCopyright", "Copyright (c) 2026 kutluhanaykut\0"
            VALUE "OriginalFilename", "DK2VRPlayer.exe\0"
            VALUE "ProductName", "DK2 360 VR Player\0"
            VALUE "ProductVersion", "0.1.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
